<section class="w-full">
  <div class="container px-4 w-full mx-auto">
    <form class="w-full max-w-96 mx-auto">
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Email</legend>
        <input type="email" name="email" id="email" class="input w-full" placeholder="Type here" />
        <p class="fieldset-label">Required</p>
      </fieldset>
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Password</legend>
        <input type="password" name="password" id="password" class="input w-full" placeholder="Type here" />
        <p class="fieldset-label">Required</p>
      </fieldset>
      <button class="btn btn-soft">login</button>
    </form>
  </div>
</section>
