<section class="w-full">
  <div class="container px-4 w-full mx-auto">
    <form class="w-full max-w-96 mx-auto" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Email</legend>
        <input [ngClass]="customClasses.email" type="email" name="email" id="email" class="input w-full" placeholder="Type here" formControlName="email" />

        @if (hasEmailErrors) {
          <p class="text-xs text-error">Invalid email</p>
        }
      </fieldset>
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Name</legend>
        <input [ngClass]="customClasses.name" type="text" name="name" id="name" class="input w-full" placeholder="Type here" formControlName="name" />

        @if (hasNameErrors) {
          <p class="text-xs text-error">Invalid name</p>
        }
      </fieldset>
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Document</legend>
        <input [ngClass]="customClasses.document"  type="text" name="document" id="document" class="input w-full" placeholder="111.111.111-11 or 11.111.111/1111-11" minlength="14" maxlength="18" formControlName="document"/>

        @if (hasDocumentErrors) {
          <p class="text-xs text-error">{{ document.errors?.['message'] ?? 'Invalid document' }}</p>
        }
      </fieldset>
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Password</legend>
        <input [ngClass]="customClasses.password"  type="password" name="password" id="password" class="input w-full" placeholder="Type here" formControlName="password"/>

        @if (hasPasswordErrors) {
          <p class="text-xs text-error">{{ password.errors?.['message'] ?? 'Invalid password' }}</p>
        }
      </fieldset>

      <a
        class="link text-center my-4 block"
        routerLink="/login"
      >
        Already have an account? go to the login page
      </a>

      <button class="btn btn-soft" [disabled]="!registerForm.valid">register</button>
    </form>
  </div>
</section>
